* {
  margin: 0%;
  padding: 0%; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Bodoni Moda", serif; }

h1 {
  font-size: 66px;
  font-weight: 900;
  line-height: 80px; }

h2 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 25px; }

p {
  font-size: 24px;
  line-height: 1.8;
  margin-bottom: 0px; }

section {
  padding: 100px 0; }

.presentation {
  background: url(../img/imagenFondo.png) no-repeat center center fixed;
  background-size: cover;
  padding-top: 90px;
  min-height: 700px;
  color: white; }
  .presentation .presentation__container-title {
    margin: 60px auto 60px auto;
    text-align: center; }

.navbar {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  min-height: 100px; }
  .navbar .nav-link {
    color: black; }
  .navbar .nav-link:hover {
    color: black; }

.clinica .clinica__container-text {
  margin: 60px auto 60px auto;
  text-align: center; }

.tratamientos .tratamientos__container-text {
  margin: 60px auto 60px auto;
  text-align: center; }

.tratamientos .tratamientos__container-imagen {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  border-radius: 2px; }

.tratamientos .tratamientos__container-imagen {
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s; }

.tratamientos .tratamientos__container-imagen:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

.tratamientos .tratamientos__container-imagen-texto {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 9000;
  margin-bottom: 0px; }

.equipo {
  background-color: #f5f5f5; }
  .equipo .equipo__container-text {
    margin: 60px auto 60px auto;
    text-align: center; }
  .equipo .equipo__miembros {
    position: relative;
    margin: 10px 0; }
  .equipo .equipo__miembros-detalles {
    position: absolute;
    color: white;
    bottom: 0;
    left: 20px; }

.contacto .contacto__container {
  margin-top: 30px; }

.contacto .contacto__form-style {
  font-size: 14px;
  border: 1px solid #cacaca;
  padding: 15px;
  border-radius: 25px;
  height: auto; }

.contacto .contacto__form--btn {
  text-decoration: none;
  text-align: center;
  padding: 4px;
  font-size: 17px;
  color: #ffffff;
  background-color: black;
  border-radius: 6px;
  border: 2px solid #020202;
  display: inline-block;
  width: 100%; }

.contacto .contacto__form--btn:hover {
  color: #ffffff;
  background-color: #51768a; }

.footer {
  background-color: #2C323A;
  padding: 80px 0;
  text-align: center;
  color: white; }
  .footer .footer__link {
    color: white;
    text-decoration: none;
    top-margin: 14px; }
