@import "fuentes";
@mixin margenes__texto {
	margin: 60px auto 60px auto;
	text-align: center;
} 

CSS .wow { visibility: hidden; }

*{ 
	margin: 0%; 
	padding: 0%;
}

html {
    scroll-behavior: smooth;
}
body{
	font-family: $fuente;
}
h1 {font-size: $size_fuente_h1; font-weight: $weight_fuente_h1; line-height: 80px;}
h2 {font-size: $size_fuente_h2; font-weight: $weight_fuente_h2; margin-bottom: 25px;}

p{
	font-size: $size_fuente_p;
	line-height: 1.8;
	margin-bottom: 0px;
}

section{
	padding: 50px 0;
}

/* //////////////
   Inicio
//////////////*/
.presentation
{
	background: url(../img/imagenFondo.png) no-repeat center center fixed;
	background-size: cover;
	padding-top: 90px;
	min-height: 700px;
	color: white;

	& .presentation__container-title{
	@include margenes__texto; }
}


/* //////////////
   Navbar styles
//////////////*/
.navbar {
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
	min-height: 100px;

	.nav-link{
		color: black;}

	.nav-link:hover {
		color: black;}
}

/* //////////////
   Nuestra clinica
//////////////*/
.clinica{
	
	& .clinica__container-text
	{
		@include margenes__texto;
	}
}

/* //////////////
   Tratamientos
//////////////*/
.tratamientos{

	&__container-text{
		@include margenes__texto;
	}
	&__container-imagen
	{
    	position: relative;
    	margin: 10px 0;
    	border-radius: 4px;
    	-moz-transition: transform 0.8s;
    	-webkit-transition: transform 0.8s;
    	transition: transform 0.8s;	
	
		&:hover{
    	-moz-transform: scale(1.1);
    	-webkit-transform: scale(1.1);
    	transform: scale(1.1);
		}
	}

	& .tratamientos__container-imagen-texto{
    	position: absolute;
    	bottom: 25px;
    	left: 25px;
    	margin-bottom: 0px;
	}
}

/* //////////////
   Equipo
//////////////*/
.equipo{
	background-color: #f5f5f5;
		
		& .equipo__container-text
		{
			@include margenes__texto;	
		}
		& .equipo__miembros {
		    position: relative;
    		margin: 10px 0;
		}
		& .equipo__miembros-detalles {
		    position: absolute;
   		 	color: white;
    		bottom: 0;
    		left: 20px;
		}
}

/* //////////////
   Contacto
//////////////*/
.contacto{
	
	& .contacto__container{
		margin-top: 30px;
	}

	& .contacto__form-style{
	    font-size: 14px;
    	border: 1px solid #cacaca;
    	padding: 15px;
   	 	border-radius: 25px;
    	height: auto;
	}
	& .contacto__form--btn{
    	text-decoration: none;
    	text-align: center;
    	padding: 4px;
    	font-size: 17px;
    	color: #ffffff;
    	background-color: black;
    	border-radius: 6px;
    	border: 2px solid #020202;
    	display: inline-block;
    	width: 100%;
	}

	& .contacto__form--btn:hover{
    	color: #ffffff;
    	background-color:#51768a;

    }
}

/* //////////////
   Footer
//////////////*/
.footer{
	
	background-color: #2C323A;
	padding: 80px 0;
	text-align: center;
	color: white;

	& .footer__link{
		color: white;
		text-decoration: none;
		margin-top: 14px;

	}
}

/* //////////////
   Medias querys
//////////////*/
@media (max-width: 575.98px) 
{ 
    h1 { font-size: 40px; line-height: normal; }
    .tratamientos__container-imagen-texto h2 { font-size: 32px; }

    .footer-menu { 
        display: block;
        padding: 20px 0;
        font-size: 20px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) { 
    .tratamientos__container-imagen-texto h2 { font-size: 30px; }
}