@import "fuentes";


*{ 
	margin: 0%; 
	padding: 0%;
}

html {
    scroll-behavior: smooth;
}
body{
	font-family: $fuente;
}
h1 {font-size: $size_fuente_h1; font-weight: $weight_fuente_h1; line-height: 80px;}
h2 {font-size: $size_fuente_h2; font-weight: $weight_fuente_h2; margin-bottom: 25px;}

p{
	font-size: $size_fuente_p;
	line-height: 1.8;
	margin-bottom: 0px;
}

section{
	padding: 100px 0;
}


.presentation
{
	background: url(../img/imagenFondo.png) no-repeat center center fixed;
	background-size: cover;
	padding-top: 90px;
	min-height: 700px;
	color: white;

	& .presentation__container-title{
		margin: 60px auto 60px auto;
		text-align: center;}
}



.navbar {
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
	min-height: 100px;

	.nav-link{
		color: black;}

	.nav-link:hover {
		color: black;}
}


.clinica{
	
	& .clinica__container-text
	{
		margin: auto auto 60px auto;
		text-align: center;
	}
}

.tratamientos{
	
	& .tratamientos__container-text{
		margin: auto auto 60px auto;
		text-align: center;
	}
	& .tratamientos__container-imagen
	{
		position: relative;
		overflow: hidden;
		margin: 10px 0;
		border-radius: 8px;
	}
	
	& .tratamientos__container-imagen{
		transition: all 0.8s ease;
	}
	& .tratamientos__container-imagen:hover{
		transform:scale(1.1);
	}
	& .tratamientos__container-imagen-texto{
		position: absolute;
		bottom: 15px;
		left: 25px;
	}
}

.equipo{
	background-color: #f5f5f5;
		
		& .equipo__container-text
		{
			margin: auto auto 60px auto;
			text-align: center;
			
		}
}

.contacto{
	
	& .contacto__container{
		margin-top: 30px;
	}

	& .contacto__form-style{
	    font-size: 14px;
    	border: 1px solid #cacaca;
    	padding: 15px;
   	 	border-radius: 25px;
    	height: auto;
	}
}

.footer{
	
	background-color: #2C323A;
	padding: 80px 0;
	text-align: center;
	color: white;

	& .footer__link{
		color: white;
		text-decoration: none;
		top-margin: 14px;

	}
}
